Repository YevheniiaDolska/automated-docs-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-frontmatter, seo-geo-check, spectral

validate-frontmatter:
  name: Validate frontmatter
  entry: python scripts/validate_frontmatter.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

seo-geo-check:
  name: SEO/GEO optimization check
  entry: python scripts/seo_geo_optimizer.py docs/
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

spectral:
  name: Lint OpenAPI/Swagger specs with Spectral
  entry: spectral lint
  language: node
  additional_dependencies:
  - '@stoplight/spectral-cli@^6.11.0'
  args:
  - --ruleset
  - .spectral.yml

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  seo-report-algolia.json
  seo-summary.md
Due: validate-frontmatter, seo-geo-check

feat: add retrieval evals and jsonld graph integrated with rag pipeline
  .claude/commands/api-first-demo.md
  POLICY_PACKS.md
  README.md
  cspell.json
  docs/concepts/intelligent-knowledge-system.md
  docs/how-to/assemble-intent-experiences.md
  docs/how-to/configure-ask-ai-module.md
  docs/operations/CANONICAL_FLOW.md
  docs/operations/CENTRALIZED_CLIENT_BUNDLES.md
  docs/operations/PIPELINE_CAPABILITIES_CATALOG.md
  docs/operations/PLAN_TIERS.md
  docs/operations/UNIFIED_CLIENT_CONFIG.md
  docs/reference/intent-experiences/index.md
  package.json
  policy_packs/api-first.yml
  policy_packs/minimal.yml
  policy_packs/monorepo.yml
  policy_packs/multi-product.yml
  policy_packs/plg.yml
  profiles/clients/_template.client.yml
  profiles/clients/blockstream-demo.client.yml
  profiles/clients/examples/basic.client.yml
  profiles/clients/examples/enterprise.client.yml
  profiles/clients/examples/maximal.client.yml
  profiles/clients/examples/pro.client.yml
  profiles/clients/presets/enterprise.yml
  profiles/clients/presets/small.yml
  profiles/clients/presets/startup.yml
  quick-start.md
  scripts/api_first_demo_live.sh
  scripts/build_client_bundle.py
  scripts/configure_ask_ai.py
  scripts/consolidate_reports.py
  scripts/generate_knowledge_graph_jsonld.py
  scripts/install_ask_ai_runtime.py
  scripts/run_retrieval_evals.py
  scripts/run_weekly_gap_batch.py
  tests/test_client_pipeline_coverage.py
  tests/test_consolidate_reports.py
  tests/test_retrieval_graph_layer.py
Due: validate-frontmatter, seo-geo-check, spectral

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  optimization.log
  seo-report-algolia.json
  seo-summary.md
Due: validate-frontmatter, seo-geo-check

chore: sync mkdocs nav after demo artifact update
  mkdocs.yml
Due: none

chore: update demo artifacts and articulate glossary sync stage
  .claude/commands/api-first-demo.md
  .claude/commands/demo.md
  docs/diagrams/demo-webhook-pipeline.html
  docs/en/how-to/set-up-real-time-webhook-processing-pipeline.md
  glossary.yml
  reports/doc_gaps_report.csv
  reports/doc_gaps_report.json
  reports/doc_gaps_report.xlsx
  reports/glossary_sync_report.json
  scripts/api_first_demo_live.sh
Due: validate-frontmatter, seo-geo-check

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  optimization.log
  seo-report-algolia.json
  seo-summary.md
  sitemap.xml
Due: validate-frontmatter, seo-geo-check

demo: add explicit glossary and rag/ontology phase to /demo flow
  .claude/commands/demo.md
Due: validate-frontmatter, seo-geo-check

fix: sync installed demo commands with latest repo scenarios
  scripts/install_demo_commands.sh
Due: none

fix: harden /demo runtime env and tail usage
  .claude/commands/demo.md
Due: validate-frontmatter, seo-geo-check

docs: enforce glossary preferred terms before generation and demo pre-check step
  .claude/commands/demo.md
  AGENTS.md
  CLAUDE.md
  scripts/build_client_bundle.py
Due: validate-frontmatter, seo-geo-check

feat: add optional pre-run git sync and default monday 10:00 schedule
  cspell.json
  docs/operations/UNIFIED_CLIENT_CONFIG.md
  profiles/clients/_template.client.yml
  scripts/build_client_bundle.py
  scripts/run_weekly_gap_batch.py
  tests/test_client_pipeline_coverage.py
Due: validate-frontmatter, seo-geo-check

feat: add non-docker and external sandbox modes for api-first workflow
  .claude/commands/api-first-demo.md
  docs/how-to/run-api-first-production-flow.md
  scripts/api_first_demo_live.sh
  scripts/api_first_demo_stop.sh
  scripts/api_sandbox_project.sh
Due: validate-frontmatter, seo-geo-check

feat: automate managed mock endpoint sync for api-first pipeline and demo
  .claude/commands/api-first-demo.md
  docs/operations/UNIFIED_CLIENT_CONFIG.md
  profiles/clients/_template.client.yml
  scripts/api_first_demo_live.sh
  scripts/build_client_bundle.py
  scripts/run_api_first_flow.py
  scripts/run_weekly_gap_batch.py
  tests/test_client_pipeline_coverage.py
Due: validate-frontmatter, seo-geo-check

feat: add PR auto-doc autofix workflow and one-time onboarding setup
  README.md
  docs/operations/CENTRALIZED_CLIENT_BUNDLES.md
  docs/operations/PIPELINE_CAPABILITIES_CATALOG.md
  docs/operations/PLAN_TIERS.md
  docs/operations/UNIFIED_CLIENT_CONFIG.md
  profiles/clients/_template.client.yml
  profiles/clients/blockstream-demo.client.yml
  profiles/clients/examples/enterprise.client.yml
  profiles/clients/examples/maximal.client.yml
  profiles/clients/examples/pro.client.yml
  scripts/auto_fix_pr_docs.py
  scripts/build_client_bundle.py
  scripts/provision_client_repo.py
  tests/test_client_pipeline_coverage.py
Due: validate-frontmatter, seo-geo-check

feat: finalize pipeline automation, coverage upgrades, and setup docs sync
  .claude/commands/api-first-demo.md
  .coverage
  AGENTS.md
  API_FIRST_PLAYBOOK.md
  CLAUDE.md
  POLICY_PACKS.md
  cspell.json
  doc_layers_report.html
  docs/assets/knowledge-graph.jsonld
  docs/how-to/run-api-first-production-flow.md
  docs/operations/CANONICAL_FLOW.md
  docs/reference/intent-experiences/configure-operator.md
  docs/reference/intent-experiences/configure-practitioner.md
  docs/reference/intent-experiences/configure-support.md
  docs/reference/intent-experiences/integrate-operator.md
  docs/reference/intent-experiences/integrate-practitioner.md
  docs/reference/intent-experiences/integrate-support.md
  docs/reference/intent-experiences/secure-operator.md
  docs/reference/intent-experiences/secure-practitioner.md
  docs/reference/intent-experiences/secure-support.md
  docs/reference/taskstream-api-playground.md
  docs/reference/taskstream-planning-notes.md
  lifecycle-report.md
  reports/knowledge_graph_report.json
  reports/lifecycle-report.test.json
  reports/retrieval_eval_dataset.generated.yml
  reports/retrieval_evals_report.json
  scripts/api_first_demo_live.sh
  scripts/ensure_external_mock_server.py
  scripts/lint_code_snippets.py
  scripts/provision_client_repo.py
  scripts/run_api_first_flow.py
  scripts/run_weekly_gap_batch.py
  tests/test_client_pipeline_coverage.py
  tests/test_scripts_coverage_boosters.py
  tests/test_scripts_coverage_boosters_2.py
Due: validate-frontmatter, seo-geo-check

feat(docsops): make DoD report-only default and disable pr_autofix by default
  .github/workflows/pr-dod-contract.yml
  API_FIRST_PLAYBOOK.md
  POLICY_PACKS.md
  README.md
  docs/operations/CANONICAL_FLOW.md
  docs/operations/UNIFIED_CLIENT_CONFIG.md
  profiles/clients/_template.client.yml
  profiles/clients/blockstream-demo.client.yml
  profiles/clients/examples/enterprise.client.yml
  profiles/clients/examples/maximal.client.yml
  profiles/clients/examples/pro.client.yml
  scripts/build_client_bundle.py
  scripts/check_docs_contract.py
  scripts/consolidate_reports.py
  scripts/run_weekly_gap_batch.py
  tests/test_client_pipeline_coverage.py
  tests/test_consolidate_reports.py
Due: validate-frontmatter, seo-geo-check

chore(secrets): ignore local docsops env file
  .gitignore
Due: none

docs: add webhook processing pipeline guide (demo)
  docs/diagrams/demo-set-up-real-time-webhook-processing-pipeline.html
  docs/en/how-to/set-up-real-time-webhook-processing-pipeline.md
  mkdocs.yml
Due: validate-frontmatter, seo-geo-check

fix: correct internal links in demo document for strict build
  docs/en/how-to/set-up-real-time-webhook-processing-pipeline.md
Due: validate-frontmatter, seo-geo-check

chore: remove demo artifacts
  docs/diagrams/demo-set-up-real-time-webhook-processing-pipeline.html
  docs/en/how-to/set-up-real-time-webhook-processing-pipeline.md
  mkdocs.yml
Due: validate-frontmatter, seo-geo-check

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  docs/how-to/run-api-first-production-flow.md
  docs/operations/CANONICAL_FLOW.md
  docs/operations/CENTRALIZED_CLIENT_BUNDLES.md
  docs/operations/PIPELINE_CAPABILITIES_CATALOG.md
  docs/operations/PLAN_TIERS.md
  docs/operations/UNIFIED_CLIENT_CONFIG.md
  docs/reference/intent-experiences/automate-developer.md
  docs/reference/intent-experiences/automate-operator.md
  docs/reference/intent-experiences/automate-support.md
  docs/reference/intent-experiences/configure-operator.md
  docs/reference/intent-experiences/configure-practitioner.md
  docs/reference/intent-experiences/configure-support.md
  docs/reference/intent-experiences/integrate-operator.md
  docs/reference/intent-experiences/integrate-practitioner.md
  docs/reference/intent-experiences/integrate-support.md
  docs/reference/intent-experiences/optimize-developer.md
  docs/reference/intent-experiences/optimize-operator.md
  docs/reference/intent-experiences/optimize-support.md
  docs/reference/intent-experiences/secure-operator.md
  docs/reference/intent-experiences/secure-practitioner.md
  docs/reference/intent-experiences/secure-support.md
  docs/reference/intent-experiences/troubleshoot-developer.md
  docs/reference/intent-experiences/troubleshoot-operator.md
  docs/reference/intent-experiences/troubleshoot-support.md
  docs/reference/taskstream-api-playground.md
  docs/reference/taskstream-planning-notes.md
  optimization.log
  seo-report-algolia.json
  seo-summary.md
  sitemap.xml
Due: validate-frontmatter, seo-geo-check

fix(demo): auto-load local docsops env for external mock credentials
  scripts/api_first_demo_live.sh
Due: none

fix(demo): skip external mock auto-prepare when mock URL is preset
  scripts/api_first_demo_live.sh
Due: none

chore(quality): treat lint warnings as blocking in core validators
  package.json
Due: none

fix(demo): remove fake external mock fallback and enforce proper external mode
  scripts/api_first_demo_live.sh
Due: none

feat(api-first-demo): clarify API-vs-knowledge layers and include deploy-verification narration
  .claude/commands/api-first-demo.md
  scripts/api_first_demo_live.sh
Due: validate-frontmatter, seo-geo-check

fix(api-first-demo): prefer Postman auto-prepare over mkdocs placeholder URL
  .claude/commands/api-first-demo.md
  scripts/api_first_demo_live.sh
Due: validate-frontmatter, seo-geo-check

docs: add US commercial one-pager and update generated docs artifacts
  .claude/commands/demo.md
  US_COMMERCIAL_ONE_PAGER.md
  doc_layers_report.html
  docs/assets/knowledge-graph.jsonld
  docs/assets/knowledge-retrieval-index.json
  lifecycle-report.md
  mkdocs.yml
  reports/doc_gaps_report.csv
  reports/doc_gaps_report.json
  reports/doc_gaps_report.xlsx
  reports/glossary_sync_report.json
  reports/knowledge_graph_report.json
  reports/lifecycle-report.test.json
  reports/retrieval_eval_dataset.generated.yml
  reports/retrieval_evals_report.json
Due: validate-frontmatter, seo-geo-check

feat(api-first): generate TestRail/Zephyr test assets from OpenAPI
  .claude/commands/api-first-demo.md
  package.json
  scripts/api_first_demo_live.sh
  scripts/generate_api_test_assets.py
  scripts/run_api_first_flow.py
  tests/test_generate_api_test_assets.py
Due: validate-frontmatter, seo-geo-check

feat(api-first): add automated TestRail/Zephyr upload for generated API test assets
  .claude/commands/api-first-demo.md
  package.json
  profiles/clients/_template.client.yml
  scripts/api_first_demo_live.sh
  scripts/build_client_bundle.py
  scripts/provision_client_repo.py
  scripts/run_api_first_flow.py
  scripts/run_weekly_gap_batch.py
  scripts/upload_api_test_assets.py
  tests/test_upload_api_test_assets.py
Due: validate-frontmatter, seo-geo-check

docs: update SEO/GEO checks count to 24
  .claude/commands/demo.md
  AGENTS.md
  CLAUDE.md
  docs/index.md
Due: validate-frontmatter, seo-geo-check

fix(api-first): harden Postman mock resolver against 404 endpoint drift
  scripts/ensure_external_mock_server.py
Due: none

feat(audit,demo): add executive PDF audit and remove finalize gate from demos
  .claude/commands/api-first-demo.md
  .claude/commands/demo.md
  CLIENT_HANDOFF.md
  SETUP_FOR_PROJECTS.md
  cspell.json
  package.json
  scripts/api_first_demo_live.sh
  scripts/check_code_examples_smoke.py
  scripts/generate_audit_scorecard.py
  scripts/generate_executive_audit_pdf.py
  scripts/generate_public_docs_audit.py
  scripts/run_weekly_gap_batch.py
  scripts/seo_geo_optimizer.py
Due: validate-frontmatter, seo-geo-check

chore: remove demo artifacts
  api/openapi.yaml
  api/taskstream/v1/components/parameters/common.yaml
  api/taskstream/v1/components/responses/common.yaml
  api/taskstream/v1/components/schemas/common.yaml
  api/taskstream/v1/paths/comments.yaml
  api/taskstream/v1/paths/projects.yaml
  api/taskstream/v1/paths/tags.yaml
  api/taskstream/v1/paths/tasks.yaml
  api/taskstream/v1/paths/users.yaml
  docs/assets/api/openapi.yaml
  docs/assets/api/taskstream/v1/components/parameters/common.yaml
  docs/assets/api/taskstream/v1/components/responses/common.yaml
  docs/assets/api/taskstream/v1/components/schemas/common.yaml
  docs/assets/api/taskstream/v1/paths/comments.yaml
  docs/assets/api/taskstream/v1/paths/projects.yaml
  docs/assets/api/taskstream/v1/paths/tags.yaml
  docs/assets/api/taskstream/v1/paths/tasks.yaml
  docs/assets/api/taskstream/v1/paths/users.yaml
  docs/assets/knowledge-graph.jsonld
  docs/assets/knowledge-retrieval-index.json
  docs/diagrams/demo-set-up-real-time-webhook-processing-pipeline.html
  docs/en/how-to/set-up-real-time-webhook-processing-pipeline.md
  generated/api-stubs/fastapi/app/main.py
  mkdocs.yml
  reports/external_mock_resolution.json
  reports/glossary_sync_report.json
  reports/knowledge_graph_report.json
  reports/retrieval_eval_dataset.generated.yml
  reports/retrieval_evals_report.json
Due: validate-frontmatter, seo-geo-check, spectral

Path conditions:
  validate-frontmatter: any of: \.md$
  seo-geo-check: any of: \.md$
  spectral: any of: \.(yml|yaml|json)$, but not: ^(?!.*(?:openapi|swagger|api)).*$
