Repository YevheniiaDolska/automated-docs-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-frontmatter, seo-geo-check, spectral

validate-frontmatter:
  name: Validate frontmatter
  entry: python scripts/validate_frontmatter.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

seo-geo-check:
  name: SEO/GEO optimization check
  entry: python scripts/seo_geo_optimizer.py docs/
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

spectral:
  name: Lint OpenAPI/Swagger specs with Spectral
  entry: spectral lint
  language: node
  additional_dependencies:
  - '@stoplight/spectral-cli@^6.11.0'
  args:
  - --ruleset
  - .spectral.yml

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  docs/concepts/intelligent-knowledge-system.md
  docs/how-to/assemble-intent-experiences.md
  docs/how-to/configure-ask-ai-module.md
  docs/how-to/configure-webhook-trigger.md
  docs/how-to/install-ask-ai-runtime-pack.md
  docs/reference/intent-experiences/automate-developer.md
  docs/reference/intent-experiences/automate-operator.md
  docs/reference/intent-experiences/automate-support.md
  docs/reference/intent-experiences/configure-operator.md
  docs/reference/intent-experiences/configure-practitioner.md
  docs/reference/intent-experiences/configure-support.md
  docs/reference/intent-experiences/index.md
  docs/reference/intent-experiences/integrate-operator.md
  docs/reference/intent-experiences/integrate-practitioner.md
  docs/reference/intent-experiences/integrate-support.md
  docs/reference/intent-experiences/optimize-developer.md
  docs/reference/intent-experiences/optimize-operator.md
  docs/reference/intent-experiences/optimize-support.md
  docs/reference/intent-experiences/secure-operator.md
  docs/reference/intent-experiences/secure-practitioner.md
  docs/reference/intent-experiences/secure-support.md
  docs/reference/intent-experiences/troubleshoot-developer.md
  docs/reference/intent-experiences/troubleshoot-operator.md
  docs/reference/intent-experiences/troubleshoot-support.md
  optimization.log
  seo-report-algolia.json
  seo-summary.md
  sitemap.xml
Due: validate-frontmatter, seo-geo-check

docs: update lifecycle report
  lifecycle-report.md
  reports/lifecycle-report.json
Due: validate-frontmatter, seo-geo-check

feat(api-first): generate from notes, add prod-like sandbox, and clean demo outputs
  .claude/commands/api-first-demo.md
  .claude/skills/demo/SKILL.md
  .codex/skills/demo/SKILL.md
  .github/workflows/api-first-production-flow.yml
  .github/workflows/docs-check.yml
  .husky/pre-commit
  config/api-first-projects/taskstream.yml
  demos/api-first/taskstream-planning-notes.md
  deploy/systemd/api-sandbox-live.service.example
  docker-compose.api-sandbox.live.yml
  docker-compose.api-sandbox.prodlike.yml
  docker-compose.api-sandbox.yml
  docs/how-to/run-api-first-production-flow.md
  docs/reference/taskstream-api-playground.md
  docs/reference/taskstream-planning-notes.md
  mkdocs.yml
  package.json
  sandbox/prodlike_api/Dockerfile
  sandbox/prodlike_api/app/main.py
  sandbox/prodlike_api/requirements.txt
  scripts/api_first_demo_live.sh
  scripts/api_first_demo_stop.sh
  scripts/api_prodlike_project.sh
  scripts/api_sandbox_live.sh
  scripts/api_sandbox_project.sh
  scripts/generate_fastapi_stubs_from_openapi.py
  scripts/generate_openapi_from_planning_notes.py
  scripts/manage_demo_nav.py
  scripts/run_api_first_flow.py
  scripts/self_verify_api_user_path.py
  scripts/self_verify_prodlike_user_path.py
  scripts/validate_openapi_contract.py
Due: validate-frontmatter, seo-geo-check, spectral

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  optimization.log
  seo-report-algolia.json
  seo-summary.md
  sitemap.xml
Due: validate-frontmatter, seo-geo-check

docs: add webhook processing pipeline guide (demo)
  docs/diagrams/demo-webhook-pipeline.html
  docs/en/how-to/set-up-real-time-webhook-processing-pipeline.md
  mkdocs.yml
Due: validate-frontmatter, seo-geo-check

chore: remove demo page from navigation
  mkdocs.yml
Due: none

chore: remove demo artifacts from current session
  docs/diagrams/demo-webhook-pipeline.html
  docs/en/how-to/set-up-real-time-webhook-processing-pipeline.md
Due: validate-frontmatter, seo-geo-check

Fix demo guardrails and normalize list handling
  .claude/commands/demo.md
  reports/ask-ai-config.json
  reports/batch_tasks.json
  reports/consolidated_report.json
  reports/doc_gaps_report.csv
  reports/doc_gaps_report.json
  reports/doc_gaps_report.xlsx
  reports/docs-freshness-badge.svg
  reports/docs-gaps-badge.svg
  reports/docs-gates-badge.svg
  reports/docs-metadata-badge.svg
  reports/docs-quality-badge.svg
  reports/i18n_sync_report.json
  reports/lifecycle-report.test.json
  reports/pipeline-configurator.html
  scripts/normalize_docs.py
Due: validate-frontmatter, seo-geo-check

docs: add webhook processing pipeline guide (demo)
  docs/concepts/workflow-execution-model.md
  docs/diagrams/demo-webhook-pipeline.html
  docs/en/how-to/set-up-real-time-webhook-processing-pipeline.md
  docs/how-to/configure-webhook-trigger.md
  docs/reference/api-playground.md
  docs/reference/nodes/webhook.md
  docs/reference/taskstream-api-playground.md
  docs/search-faceted.md
  docs/tags.md
  docs/troubleshooting/webhook-not-firing.md
  mkdocs.yml
  tests/golden/workflow_fingerprints.json
Due: validate-frontmatter, seo-geo-check

fix: remediate CI/deploy failure in demo loop
  doc_layers_report.html
  lifecycle-report.md
  reports/doc_gaps_report.csv
  reports/doc_gaps_report.json
  reports/doc_gaps_report.xlsx
Due: validate-frontmatter, seo-geo-check

fix: remediate CI/deploy failure in demo loop
  lifecycle-report.md
Due: validate-frontmatter, seo-geo-check

chore: remove demo artifacts
  docs/diagrams/demo-webhook-pipeline.html
  docs/en/how-to/set-up-real-time-webhook-processing-pipeline.md
  mkdocs.yml
Due: validate-frontmatter, seo-geo-check

fix: correct broken internal link in demo document
  docs/en/how-to/set-up-real-time-webhook-processing-pipeline.md
Due: validate-frontmatter, seo-geo-check

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  seo-report-algolia.json
  seo-summary.md
Due: validate-frontmatter, seo-geo-check

Misc
  .claude/commands/demo.md
  AGENTS.md
  CLAUDE.md
  docs/diagrams/example-architecture.html
  docs/index.md
  implementation-summary.md
  lifecycle-report.md
  package.json
  policy_packs/api-first.yml
  policy_packs/minimal.yml
  policy_packs/monorepo.yml
  policy_packs/multi-product.yml
  policy_packs/plg.yml
  profiles/clients/_template.client.yml
  profiles/clients/blockstream-demo.client.yml
  profiles/clients/examples/basic.client.yml
  profiles/clients/examples/enterprise.client.yml
  profiles/clients/examples/maximal.client.yml
  profiles/clients/examples/pro.client.yml
  reports/doc_gaps_report.csv
  reports/doc_gaps_report.json
  reports/doc_gaps_report.xlsx
  scripts/build_client_bundle.py
  scripts/generate_kpi_wall.py
  scripts/pilot_analysis.py
  scripts/validate_diagram_content.py
  templates/interactive-diagram.html
  tests/golden/wow_dashboard.html
  tests/test_validate_diagram_content.py
Due: validate-frontmatter, seo-geo-check, spectral

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  seo-report-algolia.json
  seo-summary.md
  sitemap.xml
Due: validate-frontmatter, seo-geo-check

chore: update knowledge modules report
  reports/knowledge_modules_report.json
Due: none

pipeline: add multilang docs baseline and api versioned flows
  cspell.json
  docs/operations/CANONICAL_FLOW.md
  docs/operations/CENTRALIZED_CLIENT_BUNDLES.md
  docs/operations/UNIFIED_CLIENT_CONFIG.md
  profiles/clients/_template.client.yml
  profiles/clients/blockstream-demo.client.yml
  profiles/clients/examples/basic.client.yml
  profiles/clients/examples/enterprise.client.yml
  profiles/clients/examples/maximal.client.yml
  profiles/clients/examples/pro.client.yml
  quick-start.md
  scripts/assemble_intent_experience.py
  scripts/build_client_bundle.py
  scripts/check_code_examples_smoke.py
  scripts/generate_multilang_tabs.py
  scripts/run_weekly_gap_batch.py
  scripts/validate_multilang_examples.py
  tests/test_client_pipeline_coverage.py
  tests/test_knowledge_system.py
  tests/test_multilang_examples.py
  tests/test_pipeline_scripts.py
Due: validate-frontmatter, seo-geo-check

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  optimization.log
  seo-report-algolia.json
  seo-summary.md
Due: validate-frontmatter, seo-geo-check

pipeline: harden smoke checks and stabilize multilang demo flow
  cspell.json
  docs/how-to/run-api-first-production-flow.md
  docs/reference/taskstream-api-playground.md
  package.json
  scripts/api_first_demo_live.sh
  scripts/check_code_examples_smoke.py
  scripts/generate_multilang_tabs.py
Due: validate-frontmatter, seo-geo-check

api-first: add manual overrides and regression gate across client pipeline
  docs/how-to/run-api-first-production-flow.md
  docs/operations/CANONICAL_FLOW.md
  docs/operations/CENTRALIZED_CLIENT_BUNDLES.md
  docs/operations/PIPELINE_CAPABILITIES_CATALOG.md
  docs/operations/PLAN_TIERS.md
  docs/operations/UNIFIED_CLIENT_CONFIG.md
  package.json
  profiles/clients/_template.client.yml
  profiles/clients/blockstream-demo.client.yml
  profiles/clients/examples/enterprise.client.yml
  profiles/clients/examples/maximal.client.yml
  profiles/clients/examples/pro.client.yml
  quick-start.md
  scripts/apply_openapi_overrides.py
  scripts/build_client_bundle.py
  scripts/check_openapi_regression.py
  scripts/generate_openapi_from_planning_notes.py
  scripts/generate_pipeline_capabilities_catalog.py
  scripts/run_api_first_flow.py
  scripts/run_weekly_gap_batch.py
  tests/test_client_pipeline_coverage.py
Due: validate-frontmatter, seo-geo-check

docs: sync generated multilang examples and templates
  docs/how-to/configure-webhook-trigger.md
  docs/how-to/install-ask-ai-runtime-pack.md
  docs/reference/intent-experiences/configure-operator.md
  docs/reference/intent-experiences/configure-practitioner.md
  docs/reference/intent-experiences/configure-support.md
  docs/reference/intent-experiences/integrate-operator.md
  docs/reference/intent-experiences/integrate-practitioner.md
  docs/reference/intent-experiences/integrate-support.md
  docs/reference/intent-experiences/secure-operator.md
  docs/reference/intent-experiences/secure-practitioner.md
  docs/reference/intent-experiences/secure-support.md
  reports/knowledge_modules_report.json
  reports/multilang_examples_report.json
  templates/api-reference.md
  templates/authentication-guide.md
Due: validate-frontmatter, seo-geo-check

fix pipeline ordering and smoke runner compatibility
  scripts/assemble_intent_experience.py
  scripts/check_code_examples_smoke.py
  tests/test_knowledge_system.py
Due: none

test: pin asyncio fixture loop scope for stable pytest-asyncio behavior
  setup.cfg
Due: none

feat: embed glossary governance into generation and weekly docsops flow
  AGENTS.md
  CLAUDE.md
  POLICY_PACKS.md
  README.md
  docs/operations/CANONICAL_FLOW.md
  docs/operations/CENTRALIZED_CLIENT_BUNDLES.md
  docs/operations/PIPELINE_CAPABILITIES_CATALOG.md
  docs/operations/PLAN_TIERS.md
  docs/operations/UNIFIED_CLIENT_CONFIG.md
  package.json
  policy_packs/minimal.yml
  policy_packs/monorepo.yml
  policy_packs/multi-product.yml
  policy_packs/plg.yml
  profiles/clients/_template.client.yml
  profiles/clients/blockstream-demo.client.yml
  profiles/clients/examples/basic.client.yml
  profiles/clients/examples/enterprise.client.yml
  profiles/clients/examples/maximal.client.yml
  profiles/clients/examples/pro.client.yml
  profiles/clients/presets/enterprise.yml
  profiles/clients/presets/small.yml
  profiles/clients/presets/startup.yml
  quick-start.md
  scripts/build_client_bundle.py
  scripts/consolidate_reports.py
  scripts/new_doc.py
  scripts/run_weekly_gap_batch.py
  scripts/sync_project_glossary.py
  tests/test_client_pipeline_coverage.py
  tests/test_sync_project_glossary.py
Due: validate-frontmatter, seo-geo-check

Path conditions:
  validate-frontmatter: any of: \.md$
  seo-geo-check: any of: \.md$
  spectral: any of: \.(yml|yaml|json)$, but not: ^(?!.*(?:openapi|swagger|api)).*$
