Repository YevheniiaDolska/automated-docs-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-frontmatter, seo-geo-check, spectral

.pre-commit-config.yaml:

# Pre-commit hooks for documentation quality
# Install: pip install pre-commit && pre-commit install

repos:
  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yml]
        files: \.md$

  # Spell checking
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v7.3.0
    hooks:
      - id: cspell
        args: [--config, cspell.json]
        files: \.md$

  # Vale style checking
  - repo: https://github.com/errata-ai/vale
    rev: v2.30.0
    hooks:
      - id: vale
        args: [--config, .vale.ini]
        files: \.md$
        exclude: ^templates/

  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        files: \.(yml|yaml)$
      - id: end-of-file-fixer
        files: \.(md|yml|yaml|py)$
      - id: trailing-whitespace
        files: \.(md|yml|yaml|py)$

  # Local hooks for custom checks
  - repo: local
    hooks:
      # Frontmatter validation
      - id: validate-frontmatter
        name: Validate frontmatter
        entry: python scripts/validate_frontmatter.py
        language: python
        files: \.md$
        pass_filenames: false
        additional_dependencies: [pyyaml]

      # SEO/GEO optimization check
      - id: seo-geo-check
        name: SEO/GEO optimization check
        entry: python scripts/seo_geo_optimizer.py docs/
        language: python
        files: \.md$
        pass_filenames: false
        additional_dependencies: [pyyaml]

      # Check for GUIDE.md (should be ignored)
      - id: no-guide-md
        name: Ensure GUIDE.md is not committed
        entry: sh -c 'if git ls-files | grep -q "^GUIDE.md$"; then echo "GUIDE.md should not be committed (add to .gitignore)"; exit 1; fi'
        language: system
        pass_filenames: false
        always_run: true

      # Spectral API documentation linting
      - id: spectral
        name: Lint OpenAPI/Swagger specs with Spectral
        entry: spectral lint
        language: node
        files: \.(yml|yaml|json)$
        exclude: ^(?!.*(?:openapi|swagger|api)).*$
        additional_dependencies: ['@stoplight/spectral-cli@^6.11.0']
        args: ['--ruleset', '.spectral.yml']

fix(ws-demo): add offline echo fallback when public ws endpoints fail
  demo-showcase/acme/docs/assets/javascripts/acme-sandbox.js
  demo-showcase/acme/docs/assets/javascripts/sandbox-config.js
Due: none

Expand OpenAPI spec to 19 endpoints across 5 resources, fix WebSocket fallbacks
  demo-showcase/acme/docs/assets/api/openapi.yaml
  demo-showcase/acme/docs/assets/api/schemas/health.yaml
Due: spectral

Add interactive architecture diagram, VeriOps badges, rebrand header
  demo-showcase/acme/docs/diagrams/acme-architecture.html
  demo-showcase/acme/docs/guides/architecture-overview.md
  demo-showcase/acme/docs/guides/concept.md
  demo-showcase/acme/docs/guides/how-to.md
  demo-showcase/acme/docs/guides/troubleshooting.md
  demo-showcase/acme/docs/guides/tutorial.md
  demo-showcase/acme/docs/index.md
  demo-showcase/acme/docs/quality/evidence.md
  demo-showcase/acme/docs/quality/review-manifest.md
  demo-showcase/acme/docs/reference/asyncapi-events.md
  demo-showcase/acme/docs/reference/graphql-playground.md
  demo-showcase/acme/docs/reference/grpc-gateway.md
  demo-showcase/acme/docs/reference/rest-api.md
  demo-showcase/acme/docs/reference/websocket-events.md
  demo-showcase/acme/docs/stylesheets/extra.css
  demo-showcase/acme/mkdocs.yml
Due: validate-frontmatter, seo-geo-check

Replace unreliable external servers with local mock responses
  demo-showcase/acme/docs/assets/javascripts/acme-sandbox.js
  demo-showcase/acme/docs/reference/swagger-test.html
Due: none

Rename "Acme API documentation" to "Acme documentation", fix diagram 404
  demo-showcase/acme/docs/assets/facets-index.json
  demo-showcase/acme/docs/assets/knowledge-graph.jsonld
  demo-showcase/acme/docs/assets/knowledge-retrieval-index.json
  demo-showcase/acme/docs/guides/architecture-overview.md
  demo-showcase/acme/docs/index.md
  demo-showcase/acme/docs/quality/evidence.md
Due: validate-frontmatter, seo-geo-check

fix(pipeline): enforce semantic protocol responses with autoremediation and env autoload
  .env.example
  .husky/pre-commit
  demo-showcase/acme/docs/assets/javascripts/acme-sandbox.js
  demo-showcase/acme/docs/reference/asyncapi-events.md
  demo-showcase/acme/docs/reference/websocket-events.md
  scripts/build_acme_demo_site.py
  scripts/env_loader.py
  scripts/generate_protocol_docs.py
  scripts/multi_protocol_engine.py
  scripts/run_api_first_flow.py
  scripts/run_autopipeline.py
  scripts/run_multi_protocol_contract_flow.py
  scripts/run_protocol_docs_quality_suite.py
  scripts/run_weekly_gap_batch.py
  scripts/upload_api_test_assets.py
  tests/test_multi_protocol_advanced.py
Due: validate-frontmatter, seo-geo-check

feat(protocol-flow): enforce contract gate and full autofix retry cycle
  scripts/api_protocols.py
  scripts/multi_protocol_engine.py
  scripts/run_multi_protocol_contract_flow.py
Due: none

docs(config): document strict multi-protocol autofix defaults
  docs/operations/UNIFIED_CLIENT_CONFIG.md
Due: validate-frontmatter, seo-geo-check

feat(non-rest): generate contracts from planning notes in smooth autopipeline
  docs/operations/UNIFIED_CLIENT_CONFIG.md
  scripts/api_protocols.py
  scripts/build_client_bundle.py
  scripts/generate_protocol_contract_from_planning_notes.py
  scripts/multi_protocol_engine.py
  scripts/run_multi_protocol_contract_flow.py
  scripts/run_weekly_gap_batch.py
  tests/test_multi_protocol_advanced.py
Due: validate-frontmatter, seo-geo-check

feat: enforce live non-rest verification gates
  scripts/multi_protocol_engine.py
  scripts/run_multi_protocol_contract_flow.py
  scripts/run_protocol_self_verify.py
  tests/test_multi_protocol_advanced.py
Due: none

feat: make non-rest live verification strict by default
  scripts/api_protocols.py
  tests/test_api_protocols_defaults.py
Due: none

feat(rag): add 6 advanced retrieval features and update all docs
  config/ask-ai.yml
  config/retrieval_eval_dataset.yml
  cspell.json
  demo-showcase/acme/docs/guides/concept.md
  demo-showcase/acme/docs/guides/how-to.md
  demo-showcase/acme/docs/guides/troubleshooting.md
  demo-showcase/acme/docs/index.md
  demo-showcase/acme/docs/quality/evidence.md
  demo-showcase/acme/docs/reference/graphql-playground.md
  docs/concepts/intelligent-knowledge-system.md
  docs/how-to/configure-ask-ai-module.md
  docs/how-to/install-ask-ai-runtime-pack.md
  docs/operations/MULTI_PROTOCOL_ARCHITECTURE.md
  requirements.txt
  runtime/ask-ai-pack/app/main.py
  runtime/ask-ai-pack/app/retrieval.py
  runtime/ask-ai-pack/requirements.txt
  scripts/chunker.py
  scripts/generate_embeddings.py
  scripts/run_retrieval_evals.py
  scripts/vector_store.py
Due: validate-frontmatter, seo-geo-check

feat: propagate needs_review to TestRail/Zephyr and update CLAUDE.md for multi-protocol
  CLAUDE.md
  scripts/upload_api_test_assets.py
Due: validate-frontmatter, seo-geo-check

feat: propagate needs_review to TestRail/Zephyr and update CLAUDE.md for multi-protocol
  CLAUDE.md
Due: validate-frontmatter, seo-geo-check

feat: comprehensive CLAUDE.md audit update and llm-summary-only audit mode
  CLAUDE.md
  package.json
  scripts/generate_public_docs_audit.py
Due: validate-frontmatter, seo-geo-check

feat: auto-generate executive PDF at end of public docs audit wizard
  scripts/generate_public_docs_audit.py
Due: none

feat: premium demo site overhaul, public docs auditor fixes, executive PDF rewrite
  CLAUDE.md
  demo-showcase/acme/docs/assets/javascripts/acme-sandbox.js
  demo-showcase/acme/docs/assets/javascripts/sandbox-config.js
  demo-showcase/acme/docs/diagrams/acme-architecture.html
  demo-showcase/acme/docs/guides/architecture-overview.md
  demo-showcase/acme/docs/guides/concept.md
  demo-showcase/acme/docs/guides/how-to.md
  demo-showcase/acme/docs/guides/troubleshooting.md
  demo-showcase/acme/docs/guides/tutorial.md
  demo-showcase/acme/docs/index.md
  demo-showcase/acme/docs/quality/evidence.md
  demo-showcase/acme/docs/reference/asyncapi-events.md
  demo-showcase/acme/docs/reference/graphql-playground.md
  demo-showcase/acme/docs/reference/grpc-gateway.md
  demo-showcase/acme/docs/reference/rest-api.md
  demo-showcase/acme/docs/reference/websocket-events.md
  demo-showcase/acme/docs/stylesheets/extra.css
  demo-showcase/acme/mkdocs.yml
  package.json
  requirements.txt
  scripts/generate_executive_audit_pdf.py
  scripts/generate_public_docs_audit.py
  scripts/generate_sales_cheatsheet_pdf.py
  scripts/run_full_audit_wizard.py
Due: validate-frontmatter, seo-geo-check

feat: premium consulting-grade executive PDF and LLM parsing fix
  reports/knowledge_modules_report.json
  reports/n8n-executive-audit.pdf
  reports/public_docs_audit.html
  reports/public_docs_audit.json
  scripts/generate_executive_audit_pdf.py
  scripts/generate_public_docs_audit.py
Due: none

feat: complete VeriOps rebrand and demo site quality overhaul
  demo-showcase/acme/docs/assets/api/openapi.yaml
  demo-showcase/acme/docs/assets/facets-index.json
  demo-showcase/acme/docs/assets/javascripts/acme-sandbox.js
  demo-showcase/acme/docs/assets/javascripts/sandbox-config.js
  demo-showcase/acme/docs/assets/knowledge-graph.jsonld
  demo-showcase/acme/docs/assets/knowledge-retrieval-index.json
  demo-showcase/acme/docs/assets/protocols/asyncapi/asyncapi-api.md
  demo-showcase/acme/docs/assets/protocols/asyncapi/asyncapi.yaml
  demo-showcase/acme/docs/assets/protocols/graphql/graphql-api.md
  demo-showcase/acme/docs/diagrams/veriops-architecture.html
  demo-showcase/acme/docs/guides/architecture-overview.md
  demo-showcase/acme/docs/guides/concept.md
  demo-showcase/acme/docs/guides/how-to.md
  demo-showcase/acme/docs/guides/troubleshooting.md
  demo-showcase/acme/docs/guides/tutorial.md
  demo-showcase/acme/docs/index.md
  demo-showcase/acme/docs/quality/evidence.md
  demo-showcase/acme/docs/quality/review-manifest.md
  demo-showcase/acme/docs/reference/asyncapi-events.md
  demo-showcase/acme/docs/reference/graphql-playground.md
  demo-showcase/acme/docs/reference/grpc-gateway.md
  demo-showcase/acme/docs/reference/rest-api.md
  demo-showcase/acme/docs/reference/swagger-test.html
  demo-showcase/acme/docs/reference/websocket-events.md
  demo-showcase/acme/docs/stylesheets/extra.css
  demo-showcase/acme/mkdocs.yml
Due: validate-frontmatter, seo-geo-check, spectral

feat: update capability catalog and product strategy to match current implementation
  .github/workflows/deploy.yml
  PRODUCT_STRATEGY.md
  demo-showcase/acme/mkdocs.yml
  docs/operations/PIPELINE_CAPABILITIES_CATALOG.md
Due: validate-frontmatter, seo-geo-check

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  optimization.log
  seo-report-algolia.json
  seo-summary.md
  sitemap.xml
Due: validate-frontmatter, seo-geo-check

feat: sync AGENTS.md with CLAUDE.md for full feature parity
  AGENTS.md
Due: validate-frontmatter, seo-geo-check

refactor: rename demo-showcase/acme to demo-showcase/veridoc
  .github/workflows/deploy.yml
  demo-showcase/veridoc/docs/assets/api/openapi.yaml
  demo-showcase/veridoc/docs/assets/api/schemas/health.yaml
  demo-showcase/veridoc/docs/assets/facets-index.json
  demo-showcase/veridoc/docs/assets/javascripts/sandbox-config.js
  demo-showcase/veridoc/docs/assets/javascripts/veriops-sandbox.js
  demo-showcase/veridoc/docs/assets/knowledge-graph.jsonld
  demo-showcase/veridoc/docs/assets/knowledge-retrieval-index.json
  demo-showcase/veridoc/docs/assets/protocols/asyncapi/asyncapi-api.md
  demo-showcase/veridoc/docs/assets/protocols/asyncapi/asyncapi.yaml
  demo-showcase/veridoc/docs/assets/protocols/graphql/graphql-api.md
  demo-showcase/veridoc/docs/assets/protocols/graphql/graphql.schema.graphql
  demo-showcase/veridoc/docs/assets/protocols/graphql/schema.graphql
  demo-showcase/veridoc/docs/diagrams/veriops-architecture.html
  demo-showcase/veridoc/docs/guides/architecture-overview.md
  demo-showcase/veridoc/docs/guides/concept.md
  demo-showcase/veridoc/docs/guides/how-to.md
  demo-showcase/veridoc/docs/guides/troubleshooting.md
  demo-showcase/veridoc/docs/guides/tutorial.md
  demo-showcase/veridoc/docs/index.md
  demo-showcase/veridoc/docs/quality/evidence.md
  demo-showcase/veridoc/docs/reference/asyncapi-events.md
  demo-showcase/veridoc/docs/reference/graphql-playground.md
  demo-showcase/veridoc/docs/reference/grpc-gateway.md
  demo-showcase/veridoc/docs/reference/rest-api.md
  demo-showcase/veridoc/docs/reference/swagger-test.html
  demo-showcase/veridoc/docs/reference/websocket-events.md
  demo-showcase/veridoc/docs/stylesheets/extra.css
  demo-showcase/veridoc/mkdocs.yml
Due: validate-frontmatter, seo-geo-check, spectral

fix: broken internal links in protocol asset docs
  docs/assets/protocols/asyncapi/asyncapi-api.md
  docs/assets/protocols/graphql/graphql-api.md
  docs/assets/protocols/grpc/grpc-api.md
  docs/assets/protocols/websocket/websocket-api.md
Due: validate-frontmatter, seo-geo-check

fix: stop VeriOps sub-site from overwriting demo-showcase landing page
  .github/workflows/deploy.yml
  demo-showcase/veridoc/mkdocs.yml
Due: none

fix: diagram stays dark after switching back to light mode
  demo-showcase/docs/diagrams/demo-set-up-real-time-webhook-processing-pipeline.html
  demo-showcase/veridoc/docs/diagrams/veriops-architecture.html
Due: none

fix(veridoc): move Vale comments before style checks table
  demo-showcase/veridoc/docs/quality/evidence.md
Due: validate-frontmatter, seo-geo-check

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  docs/assets/protocols/asyncapi/asyncapi-api.md
  docs/assets/protocols/grpc/grpc-api.md
  docs/assets/protocols/rest/rest-api.md
  docs/assets/protocols/websocket/websocket-api.md
  docs/en/how-to/set-up-real-time-webhook-processing-pipeline.md
  docs/operations/MULTI_PROTOCOL_ARCHITECTURE.md
  docs/operations/MULTI_PROTOCOL_WIZARD_GUIDE.md
  docs/operations/SMART_MERGE_REVIEW.md
  docs/reference/asyncapi-api.md
  docs/reference/graphql-api.md
  docs/reference/grpc-api.md
  docs/reference/rest-api.md
  docs/reference/websocket-api.md
  optimization.log
  seo-report-algolia.json
  seo-summary.md
  sitemap.xml
Due: validate-frontmatter, seo-geo-check

feat: add documentation orchestrator, doc worker, and pattern store
  apps/web/src/lib/api.ts
  package.json
  packages/core/gitspeak_core/api/pipeline.py
  packages/core/gitspeak_core/config/pricing.py
  packages/core/gitspeak_core/docs/__init__.py
  packages/core/gitspeak_core/docs/doc_worker.py
  packages/core/gitspeak_core/docs/orchestrator.py
  packages/core/gitspeak_core/learning/__init__.py
  packages/core/gitspeak_core/learning/pattern_store.py
  scripts/compile_doc_overview.py
  scripts/license_gate.py
  scripts/run_weekly_gap_batch.py
  tests/test_doc_compiler.py
Due: none

chore: add generated doc compiler reports
  reports/doc_compiler_architecture.html
  reports/doc_compiler_architecture.md
  reports/doc_compiler_briefing.md
  reports/doc_compiler_consistency.json
  reports/doc_compiler_critique.json
  reports/doc_compiler_faq.json
  reports/doc_compiler_report.json
Due: validate-frontmatter, seo-geo-check

fix: restore docs quality gates for intent experience bundles
  docs/reference/intent-experiences/configure-beginner.md
  docs/reference/intent-experiences/configure-developer.md
  docs/reference/intent-experiences/configure-practitioner.md
  docs/reference/intent-experiences/integrate-beginner.md
  docs/reference/intent-experiences/integrate-developer.md
  docs/reference/intent-experiences/integrate-operator.md
  docs/reference/intent-experiences/integrate-practitioner.md
  docs/reference/intent-experiences/secure-beginner.md
  docs/reference/intent-experiences/secure-developer.md
  docs/reference/intent-experiences/secure-operator.md
  docs/reference/intent-experiences/secure-practitioner.md
  docs/reference/intent-experiences/troubleshoot-beginner.md
  docs/reference/intent-experiences/troubleshoot-developer.md
  docs/reference/intent-experiences/troubleshoot-operator.md
  docs/reference/intent-experiences/troubleshoot-practitioner.md
  docs/reference/intent-experiences/troubleshoot-support.md
Due: validate-frontmatter, seo-geo-check

fix: use reports-dir for kpi wall generation in pipeline
  packages/core/gitspeak_core/api/pipeline.py
Due: none

feat: add production settings hardening and deployment runbook
  deploy/.env.example
  deploy/production-runbook.md
  package.json
  packages/core/gitspeak_core/api/app.py
  packages/core/gitspeak_core/config/settings.py
  production-gate.md
  scripts/production_smoke.py
Due: validate-frontmatter, seo-geo-check

Improve public audit reliability with multi-pass verification and auto assumptions
  config/company_assumptions/databricks.json
  config/company_assumptions/default.json
  scripts/generate_public_docs_audit.py
  scripts/run_full_audit_wizard.py
  tests/test_coverage_boost_round3.py
  tests/test_remaining_zero_coverage.py
Due: none
