Repository YevheniiaDolska/automated-docs-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-frontmatter, seo-geo-check, spectral

validate-frontmatter:
  name: Validate frontmatter
  entry: python scripts/validate_frontmatter.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

seo-geo-check:
  name: SEO/GEO optimization check
  entry: python scripts/seo_geo_optimizer.py docs/
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

spectral:
  name: Lint OpenAPI/Swagger specs with Spectral
  entry: spectral lint
  language: node
  additional_dependencies:
  - '@stoplight/spectral-cli@^6.11.0'
  args:
  - --ruleset
  - .spectral.yml

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  optimization.log
  seo-report-algolia.json
  seo-summary.md
  sitemap.xml
Due: validate-frontmatter, seo-geo-check

Improve public docs crawler coverage with auto convergence mode
  scripts/generate_public_docs_audit.py
Due: none

chore(reports): update audit and public docs audit outputs
  reports/audit_scorecard.html
  reports/audit_scorecard.json
  reports/public_docs_audit.html
  reports/public_docs_audit.json
  reports/public_docs_audit_llm_summary.json
Due: none

feat(autopipeline): add optional automatic docs generation stage
  scripts/run_autopipeline.py
Due: none

feat(policy): automate Powered by VeriDoc badge rules across autopipeline
  profiles/clients/_template.client.yml
  scripts/apply_veridoc_branding_policy.py
  scripts/build_client_bundle.py
  scripts/provision_client_repo.py
  scripts/run_autopipeline.py
Due: none

feat(workspace): add mass bootstrap and preprod checks for VeriDoc policy
  scripts/bootstrap_workspace_veridoc_policy.py
  scripts/build_client_bundle.py
  scripts/run_workspace_preprod_check.py
Due: none

feat(billing): add recurring referral payouts, pricing sync, and referral UI
  apps/web/src/app/settings/page.tsx
  apps/web/src/lib/api.ts
  docs/assets/protocols/asyncapi/asyncapi-api.md
  docs/assets/protocols/websocket/websocket-api.md
  docs/reference/asyncapi-api.md
  docs/reference/intent-experiences/troubleshoot-developer.md
  docs/reference/intent-experiences/troubleshoot-operator.md
  packages/core/gitspeak_core/api/app.py
  packages/core/gitspeak_core/api/auth.py
  packages/core/gitspeak_core/api/billing.py
  packages/core/gitspeak_core/config/pricing.py
  packages/core/gitspeak_core/db/models.py
  packages/core/gitspeak_core/tasks/celery_app.py
  packages/core/gitspeak_core/tasks/pipeline_tasks.py
  production-gate.md
  tests/test_veridoc_production.py
Due: validate-frontmatter, seo-geo-check

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  optimization.log
  seo-report-algolia.json
  seo-summary.md
Due: validate-frontmatter, seo-geo-check

feat(referrals): add referral terms page and terms-linked badge guidance
  apps/web/src/app/referral-terms/page.tsx
  apps/web/src/app/settings/page.tsx
  packages/core/gitspeak_core/api/billing.py
Due: none

docs(gate): mark pre-commit quality gate as done
  production-gate.md
Due: validate-frontmatter, seo-geo-check

chore: sync today updates for launch prep and auditor fixes
  .gitignore
  deploy/ONE-URL-BEGINNER-LAUNCH-CHECKLIST.md
  deploy/ONE-URL-BEGINNER-LAUNCH-CHECKLIST.v2.md
  deploy/production-runbook.md
  docs/assets/knowledge-graph.jsonld
  docs/assets/knowledge-retrieval-index.json
  docs/assets/protocols/asyncapi/asyncapi-api.md
  docs/assets/protocols/asyncapi/asyncapi.yaml
  docs/assets/protocols/graphql/graphql-api.md
  docs/assets/protocols/grpc/.grpc-regression.json
  docs/assets/protocols/grpc/grpc-api.md
  docs/assets/protocols/websocket/websocket-api.md
  docs/reference/asyncapi-api.md
  docs/reference/graphql-api.md
  lifecycle-report.md
  packages/core/gitspeak_core/api/billing.py
  production-gate.md
  reports/api-test-assets/api_test_cases.json
  reports/api-test-assets/testrail_test_cases.csv
  reports/api-test-assets/zephyr_test_cases.json
  reports/asyncapi_glossary_sync_report.json
  reports/asyncapi_lint_stack_report.json
  reports/asyncapi_quality_suite_report.json
  reports/graphql_glossary_sync_report.json
  reports/graphql_lint_stack_report.json
  reports/grpc_glossary_sync_report.json
  reports/grpc_lint_stack_report.json
  reports/grpc_quality_suite_report.json
  reports/lifecycle-report.test.json
  reports/websocket_glossary_sync_report.json
  reports/websocket_lint_stack_report.json
  reports/websocket_quality_suite_report.json
  scripts/build_client_bundle.py
  scripts/generate_public_docs_audit.py
  scripts/run_autopipeline.py
Due: validate-frontmatter, seo-geo-check, spectral

feat: auto-renew server licenses from LemonSqueezy webhooks
  packages/core/gitspeak_core/api/app.py
  packages/core/gitspeak_core/api/billing.py
  tests/test_veridoc_production.py
Due: none

chore: add server license auto-renew env vars
  deploy/.env.example
Due: none

feat(license): add phone-home subscription check to license gate
  scripts/license_gate.py
  tests/test_license_gate.py
Due: none

feat: add personal wizard and improve public docs auditor
  production-gate.md
  reports/audit_scorecard.html
  reports/audit_scorecard.json
  reports/databricks-executive-audit.pdf
  reports/public_docs_audit.html
  reports/public_docs_audit.json
  reports/public_docs_audit_llm_summary.json
  scripts/generate_public_docs_audit.py
  scripts/personal_wizard.py
Due: validate-frontmatter, seo-geo-check

fix(audit): stabilize crawler coverage metrics and prevent memory errors
  scripts/generate_public_docs_audit.py
Due: none

fix(wizard): show llm mode descriptions directly in choice prompt
  scripts/generate_public_docs_audit.py
Due: none

fix(audit): support gzipped sitemaps to avoid 1-page scans
  scripts/generate_public_docs_audit.py
Due: none

fix(audit): make gzip sitemap parsing robust for any site
  scripts/generate_public_docs_audit.py
Due: none

fix(audit): ignore malformed bracket-host urls during normalization
  scripts/generate_public_docs_audit.py
  tests/test_remaining_zero_coverage.py
Due: none

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  docs/assets/protocols/grpc/grpc-api.md
  docs/assets/protocols/websocket/websocket-api.md
  docs/how-to/migrate-from-confluence.md
  docs/operations/MULTI_PROTOCOL_ARCHITECTURE.md
  docs/operations/MULTI_PROTOCOL_WIZARD_GUIDE.md
  docs/reference/auto-doc-pipeline-study-guide.md
  docs/reference/intent-experiences/automate-developer.md
  docs/reference/intent-experiences/automate-operator.md
  docs/reference/intent-experiences/automate-support.md
  docs/reference/intent-experiences/configure-beginner.md
  docs/reference/intent-experiences/configure-developer.md
  docs/reference/intent-experiences/configure-operator.md
  docs/reference/intent-experiences/configure-practitioner.md
  docs/reference/intent-experiences/configure-support.md
  docs/reference/intent-experiences/integrate-beginner.md
  docs/reference/intent-experiences/integrate-developer.md
  docs/reference/intent-experiences/integrate-operator.md
  docs/reference/intent-experiences/integrate-practitioner.md
  docs/reference/intent-experiences/integrate-support.md
  docs/reference/intent-experiences/optimize-developer.md
  docs/reference/intent-experiences/optimize-operator.md
  docs/reference/intent-experiences/optimize-support.md
  docs/reference/intent-experiences/secure-beginner.md
  docs/reference/intent-experiences/secure-developer.md
  docs/reference/intent-experiences/secure-operator.md
  docs/reference/intent-experiences/secure-practitioner.md
  docs/reference/intent-experiences/secure-support.md
  docs/reference/intent-experiences/troubleshoot-beginner.md
  docs/reference/intent-experiences/troubleshoot-developer.md
  docs/reference/intent-experiences/troubleshoot-operator.md
  docs/reference/intent-experiences/troubleshoot-practitioner.md
  docs/reference/intent-experiences/troubleshoot-support.md
  docs/reference/network-transparency.md
  optimization.log
  seo-report-algolia.json
  seo-summary.md
  sitemap.xml
Due: validate-frontmatter, seo-geo-check

fix(audit): skip invalid contract urls before source-of-truth fetch
  scripts/generate_public_docs_audit.py
Due: none

fix(wizard): isolate outputs per company under reports/<slug>/
  scripts/generate_public_docs_audit.py
Due: none

fix(web): use npm install instead of npm ci in Dockerfile
  apps/web/Dockerfile
  apps/web/package-lock.json
Due: none

Harden referral policy and bundle/client onboarding UX
  AGENTS.md
  CLAUDE.md
  PILOT_START_HERE.md
  PILOT_WEEK_OFFER.md
  US_COMMERCIAL_ONE_PAGER.md
  apps/web/src/app/referral-terms/page.tsx
  apps/web/src/app/settings/page.tsx
  deploy/ENTERPRISE_LOCAL_E2E_RUNBOOK.md
  packages/core/gitspeak_core/api/billing.py
  scripts/apply_veridoc_branding_policy.py
  scripts/build_client_bundle.py
  scripts/generate_public_docs_audit.py
  scripts/onboard_client.py
  scripts/personal_wizard.py
  scripts/provision_client_repo.py
  scripts/setup_client_env_wizard.py
  tests/test_veridoc_production.py
Due: validate-frontmatter, seo-geo-check

Optimize public audit link checking for large docs sites
  scripts/generate_public_docs_audit.py
Due: none

docs(prod): record 2026-03-30 runbook/smoke verification and blockers
  production-gate.md
Due: validate-frontmatter, seo-geo-check

feat(license): enforce degraded mode after pilot expiry and gate advanced prompts
  scripts/docsops_generate.py
  scripts/gap_detection/batch_generator.py
  scripts/license_gate.py
Due: none

feat(local-first): add fully local ollama model flow and gated hybrid fallback
  build/generate_license.py
  deploy/ENTERPRISE_LOCAL_E2E_RUNBOOK.md
  deploy/FULLY_LOCAL_ONE_COMMAND_RUNBOOK.md
  profiles/clients/_template.client.yml
  scripts/build_client_bundle.py
  scripts/docsops_generate.py
  scripts/flow_feedback.py
  scripts/generate_public_docs_audit.py
  scripts/license_gate.py
  scripts/llm_egress.py
  scripts/onboard_client.py
  scripts/personal_wizard.py
  scripts/provision_client_repo.py
  scripts/run_api_first_flow.py
  scripts/run_autopipeline.py
  scripts/run_multi_protocol_contract_flow.py
  scripts/run_prompt_pipeline.py
  scripts/run_weekly_gap_batch.py
  scripts/setup_client_env_wizard.py
Due: validate-frontmatter, seo-geo-check

Path conditions:
  validate-frontmatter: any of: \.md$
  seo-geo-check: any of: \.md$
  spectral: any of: \.(yml|yaml|json)$, but not: ^(?!.*(?:openapi|swagger|api)).*$
