Repository YevheniiaDolska/automated-docs-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-frontmatter, seo-geo-check, spectral

validate-frontmatter:
  name: Validate frontmatter
  entry: python scripts/validate_frontmatter.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

seo-geo-check:
  name: SEO/GEO optimization check
  entry: python scripts/seo_geo_optimizer.py docs/
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

spectral:
  name: Lint OpenAPI/Swagger specs with Spectral
  entry: spectral lint
  language: node
  additional_dependencies:
  - '@stoplight/spectral-cli@^6.11.0'
  args:
  - --ruleset
  - .spectral.yml

docs(api-first): refresh taskstream playground and published sandbox
  docs/reference/taskstream-api-playground.md
  mkdocs.yml
  reports/external_mock_resolution.json
  reports/glossary_sync_report.json
  reports/knowledge_graph_report.json
  reports/retrieval_evals_report.json
Due: validate-frontmatter, seo-geo-check

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  optimization.log
  seo-report-algolia.json
  seo-summary.md
  sitemap.xml
Due: validate-frontmatter, seo-geo-check

fix(playground): resolve spec URL for GitHub Pages subdirectory deploy
  docs/assets/javascripts/api-playground.js
  docs/how-to/configure-webhook-trigger.md
Due: validate-frontmatter, seo-geo-check

docs(demo): add webhook processing pipeline how-to with interactive diagram
  docs/assets/knowledge-graph.jsonld
  docs/assets/knowledge-retrieval-index.json
  docs/diagrams/demo-set-up-real-time-webhook-processing-pipeline.html
  docs/en/how-to/set-up-real-time-webhook-processing-pipeline.md
  mkdocs.yml
  reports/glossary_sync_report.json
  reports/knowledge_graph_report.json
Due: validate-frontmatter, seo-geo-check

feat: add demo-showcase standalone site deployed to GitHub Pages
  .github/workflows/deploy.yml
  demo-showcase/docs/_variables.yml
  demo-showcase/docs/diagrams/demo-set-up-real-time-webhook-processing-pipeline.html
  demo-showcase/docs/index.md
  demo-showcase/docs/stylesheets/diagrams.css
  demo-showcase/mkdocs.yml
  mkdocs.yml
Due: validate-frontmatter, seo-geo-check

fix(playground): bundle OpenAPI spec for Swagger UI compatibility
  .husky/pre-commit
  docs/assets/api/openapi.bundled.yaml
  docs/assets/knowledge-retrieval-index.json
  docs/reference/taskstream-api-playground.md
  mkdocs.yml
  reports/api-test-assets/api_property_fuzz_scenarios.json
  reports/api-test-assets/api_test_assets_report.json
  reports/api-test-assets/api_test_cases.json
  reports/api-test-assets/api_test_matrix.json
  reports/api-test-assets/testrail_test_cases.csv
  reports/api-test-assets/upload_report.json
  reports/api-test-assets/zephyr_test_cases.json
  reports/external_mock_resolution.json
  reports/glossary_sync_report.json
  reports/knowledge_modules_report.json
  reports/retrieval_eval_dataset.generated.yml
  reports/retrieval_evals_report.json
  scripts/api_first_demo_live.sh
  scripts/ensure_external_mock_server.py
  scripts/manage_demo_nav.py
  scripts/run_api_first_flow.py
Due: validate-frontmatter, seo-geo-check, spectral

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  seo-report-algolia.json
  seo-summary.md
Due: validate-frontmatter, seo-geo-check

fix(playground): serve bundled OpenAPI as JSON for Swagger UI
  docs/assets/api/openapi.bundled.json
  docs/reference/taskstream-api-playground.md
  mkdocs.yml
  scripts/api_first_demo_live.sh
  scripts/run_api_first_flow.py
Due: validate-frontmatter, seo-geo-check, spectral

test: add standalone swagger test page
  docs/reference/swagger-test.html
Due: none

fix(playground): rewrite api-playground.js for MkDocs Material instant loading
  docs/assets/javascripts/api-playground.js
  docs/reference/api-playground.md
Due: validate-frontmatter, seo-geo-check

fix(playground): inline Swagger UI loading on playground pages
  docs/assets/javascripts/api-playground.js
  docs/reference/api-playground.md
  docs/reference/taskstream-api-playground.md
Due: validate-frontmatter, seo-geo-check

chore: SEO/GEO optimizations and metadata enhancements [skip ci]
  optimization.log
  seo-report-algolia.json
  seo-summary.md
Due: validate-frontmatter, seo-geo-check

fix(playground): use unique dom_id and immediate IIFE for Swagger UI init
  docs/reference/api-playground.md
  docs/reference/taskstream-api-playground.md
Due: validate-frontmatter, seo-geo-check

fix(playground): skip requestInterceptor for spec URL fetch
  docs/assets/javascripts/api-playground.js
  docs/reference/api-playground.md
  docs/reference/taskstream-api-playground.md
Due: validate-frontmatter, seo-geo-check

feat(api-test-assets): add smart merge to preserve manual and customized test cases
  docs/how-to/run-api-first-production-flow.md
  reports/api-test-assets/api_test_assets_report.json
  reports/api-test-assets/api_test_cases.json
  reports/api-test-assets/testrail_test_cases.csv
  scripts/generate_api_test_assets.py
  tests/test_generate_api_test_assets.py
Due: validate-frontmatter, seo-geo-check, spectral

docs: add product strategy for three-tier architecture
  .husky/pre-commit
  PRODUCT_STRATEGY.md
Due: validate-frontmatter, seo-geo-check

docs: add premium retainer tiers to product strategy
  PRODUCT_STRATEGY.md
Due: validate-frontmatter, seo-geo-check

rebrand: rename Auto-Doc Pipeline to VeriOps across public materials
  .husky/pre-commit
  CUSTOMIZATION_PER_COMPANY.md
  FULL_IMPLEMENTATION_START_HERE.md
  METRICS_ADAPTATION_NOTE.md
  PILOT_START_HERE.md
  PILOT_VS_FULL_IMPLEMENTATION.md
  PILOT_WEEK_OFFER.md
  PLG_PLAYBOOK.md
  PRICING_CHEATSHEET_RU.md
  PRIVATE_REPO_SETUP.md
  PRODUCT_STRATEGY.md
  README.md
  README_SETUP.md
  UPSELL_SALES_PLAYBOOK.md
  US_COMMERCIAL_ONE_PAGER.md
  cspell.json
  implementation-summary.md
  quick-start.md
  scripts/generate_configurator.py
  scripts/generate_executive_audit_pdf.py
  scripts/generate_kpi_wall.py
  scripts/init_pipeline.py
  scripts/site_generator.py
Due: validate-frontmatter, seo-geo-check

docs: restructure product strategy to per-repo pricing model
  PRODUCT_STRATEGY.md
Due: validate-frontmatter, seo-geo-check

docs: update pricing to value-based model ($149-$1,499/mo)
  PRODUCT_STRATEGY.md
Due: validate-frontmatter, seo-geo-check

Add Acme MkDocs demo showcase and deploy workflow step
  .github/workflows/deploy.yml
  demo-showcase/acme/docs/assets/api/openapi.yaml
  demo-showcase/acme/docs/assets/facets-index.json
  demo-showcase/acme/docs/assets/knowledge-graph.jsonld
  demo-showcase/acme/docs/assets/knowledge-retrieval-index.json
  demo-showcase/acme/docs/assets/protocols/asyncapi/asyncapi-api.md
  demo-showcase/acme/docs/assets/protocols/asyncapi/asyncapi.yaml
  demo-showcase/acme/docs/assets/protocols/graphql/graphql-api.md
  demo-showcase/acme/docs/assets/protocols/graphql/graphql.schema.graphql
  demo-showcase/acme/docs/assets/protocols/graphql/schema.graphql
  demo-showcase/acme/docs/guides/concept.md
  demo-showcase/acme/docs/guides/how-to.md
  demo-showcase/acme/docs/guides/troubleshooting.md
  demo-showcase/acme/docs/guides/tutorial.md
  demo-showcase/acme/docs/index.md
  demo-showcase/acme/docs/quality/evidence.md
  demo-showcase/acme/docs/quality/review-manifest.md
  demo-showcase/acme/docs/reference/asyncapi-events.md
  demo-showcase/acme/docs/reference/graphql-playground.md
  demo-showcase/acme/docs/reference/grpc-gateway.md
  demo-showcase/acme/docs/reference/rest-api.md
  demo-showcase/acme/docs/reference/swagger-test.html
  demo-showcase/acme/docs/reference/websocket-events.md
  demo-showcase/acme/mkdocs.yml
Due: validate-frontmatter, seo-geo-check, spectral

docs: rewrite Acme demo site with LLM-written Stripe-quality content
  cspell.json
  demo-showcase/acme/docs/assets/protocols/graphql/graphql-api.md
  demo-showcase/acme/docs/guides/concept.md
  demo-showcase/acme/docs/guides/how-to.md
  demo-showcase/acme/docs/guides/troubleshooting.md
  demo-showcase/acme/docs/guides/tutorial.md
  demo-showcase/acme/docs/index.md
  demo-showcase/acme/docs/quality/evidence.md
  demo-showcase/acme/docs/quality/review-manifest.md
  demo-showcase/acme/docs/reference/asyncapi-events.md
  demo-showcase/acme/docs/reference/graphql-playground.md
  demo-showcase/acme/docs/reference/grpc-gateway.md
  demo-showcase/acme/docs/reference/rest-api.md
  demo-showcase/acme/docs/reference/websocket-events.md
  docs/assets/protocols/asyncapi/asyncapi-api.md
  docs/assets/protocols/grpc/grpc-api.md
  docs/operations/MULTI_PROTOCOL_WIZARD_GUIDE.md
  docs/reference/asyncapi-api.md
  docs/reference/grpc-api.md
Due: validate-frontmatter, seo-geo-check

feat: add Postman mock sandbox for all protocol interactive testers
  demo-showcase/acme/docs/assets/javascripts/acme-sandbox.js
  demo-showcase/acme/docs/assets/javascripts/sandbox-config.js
  demo-showcase/acme/docs/assets/protocols/asyncapi/asyncapi-api.md
  demo-showcase/acme/docs/assets/protocols/graphql/graphql-api.md
  demo-showcase/acme/docs/reference/asyncapi-events.md
  demo-showcase/acme/docs/reference/graphql-playground.md
  demo-showcase/acme/docs/reference/grpc-gateway.md
  demo-showcase/acme/docs/reference/rest-api.md
  demo-showcase/acme/docs/reference/swagger-test.html
  demo-showcase/acme/docs/reference/websocket-events.md
  demo-showcase/acme/mkdocs.yml
Due: validate-frontmatter, seo-geo-check

fix: resolve broken index.md links in protocol asset pages
  docs/assets/protocols/asyncapi/asyncapi-api.md
  docs/assets/protocols/graphql/graphql-api.md
  docs/assets/protocols/grpc/grpc-api.md
  docs/assets/protocols/rest/rest-api.md
  docs/assets/protocols/websocket/websocket-api.md
Due: validate-frontmatter, seo-geo-check

fix: sandbox auth via build-time secret injection
  .github/workflows/deploy.yml
  .gitignore
  demo-showcase/acme/docs/assets/javascripts/acme-sandbox.js
  demo-showcase/acme/docs/assets/javascripts/sandbox-config.js
  demo-showcase/acme/docs/reference/graphql-playground.md
  demo-showcase/acme/docs/reference/grpc-gateway.md
  demo-showcase/acme/docs/reference/rest-api.md
  demo-showcase/acme/docs/reference/swagger-test.html
Due: validate-frontmatter, seo-geo-check

fix: add freshness dates, sandbox Swagger UI, and iframe path
  demo-showcase/acme/docs/guides/concept.md
  demo-showcase/acme/docs/guides/how-to.md
  demo-showcase/acme/docs/guides/troubleshooting.md
  demo-showcase/acme/docs/guides/tutorial.md
  demo-showcase/acme/docs/index.md
  demo-showcase/acme/docs/quality/evidence.md
  demo-showcase/acme/docs/quality/review-manifest.md
  demo-showcase/acme/docs/reference/asyncapi-events.md
  demo-showcase/acme/docs/reference/graphql-playground.md
  demo-showcase/acme/docs/reference/grpc-gateway.md
  demo-showcase/acme/docs/reference/rest-api.md
  demo-showcase/acme/docs/reference/swagger-test.html
  demo-showcase/acme/docs/reference/websocket-events.md
Due: validate-frontmatter, seo-geo-check

fix: swagger iframe path, code copy buttons, WebSocket echo sandbox
  demo-showcase/acme/docs/assets/javascripts/sandbox-config.js
  demo-showcase/acme/docs/reference/asyncapi-events.md
  demo-showcase/acme/docs/reference/rest-api.md
  demo-showcase/acme/docs/reference/websocket-events.md
  demo-showcase/acme/mkdocs.yml
Due: validate-frontmatter, seo-geo-check

fix(demo-pipeline): enforce sandbox reliability checks and protocol-specific fallback responses
  demo-showcase/acme/docs/assets/api/openapi.yaml
  demo-showcase/acme/docs/assets/javascripts/acme-sandbox.js
  scripts/build_acme_demo_site.py
Due: spectral

fix: local mock responses for GraphQL/gRPC, fix iframe path and copy buttons
  demo-showcase/acme/docs/assets/javascripts/acme-sandbox.js
  demo-showcase/acme/docs/reference/graphql-playground.md
  demo-showcase/acme/docs/reference/grpc-gateway.md
Due: validate-frontmatter, seo-geo-check

fix(ws-sandbox): add endpoint failover and switch default to echo.websocket.events
  demo-showcase/acme/docs/assets/javascripts/sandbox-config.js
  demo-showcase/acme/docs/reference/asyncapi-events.md
  demo-showcase/acme/docs/reference/websocket-events.md
  demo-showcase/acme/mkdocs.yml
  docs/assets/protocols/asyncapi/asyncapi-api.md
  docs/reference/asyncapi-api.md
  docs/reference/websocket-api.md
  scripts/api_protocols.py
  scripts/build_acme_demo_site.py
Due: validate-frontmatter, seo-geo-check

Path conditions:
  validate-frontmatter: any of: \.md$
  seo-geo-check: any of: \.md$
  spectral: any of: \.(yml|yaml|json)$, but not: ^(?!.*(?:openapi|swagger|api)).*$
